.cm-s-inner {
  background-color: #303030 !important;
  color: #f0f2f3;
  border-radius: 0.35rem;
  border: 1px solid #3c3c3c;
  padding: 1rem;
  .CodeMirror-gutters {
    background: #303030;
    color: rgb(83, 127, 126);
    border: none;
  }
  .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
  }
  div {
    &.CodeMirror-selected {
      background: rgba(255, 255, 255, 0.15);
    }
  }
  &.CodeMirror-focused {
    div {
      &.CodeMirror-selected {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0);
  }
  .cm-keyword {
    color: rgba(199, 146, 234, 1);
  }
  .cm-operator {
    color: rgba(233, 237, 237, 1);
  }
  .cm-variable-2 {
    color: #80cbc4;
  }
  .cm-variable-3 {
    color: #82b1ff;
    color: #decb6b;
  }
  .cm-builtin {
    color: #decb6b;
  }
  .cm-atom {
    color: #f77669;
  }
  .cm-number {
    color: #f77669;
  }
  .cm-def {
    color: rgba(233, 237, 237, 1);
  }
  .cm-string {
    color: #c3e88d;
  }
  .cm-string-2 {
    color: #80cbc4;
  }
  .cm-comment {
    color: #546e7a;
  }
  .cm-variable {
    color: #82b1ff;
  }
  .cm-tag {
    color: #80cbc4;
    color: rgba(255, 83, 112, 1);
  }
  .cm-meta {
    color: #80cbc4;
  }
  .cm-attribute {
    color: #ffcb6b;
  }
  .cm-property {
    color: #80cbae;
  }
  .cm-qualifier {
    color: #decb6b;
  }
  .cm-error {
    color: rgba(255, 255, 255, 1);
    background-color: #ec5f67;
  }
  .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
  }
}
.md-focus {
  .cm-s-inner {
    border-radius: 0.35rem 0.35rem 0 0.35rem;
  }
}
.cm-s-inner .CodeMirror-guttermarker,
.cm-s-inner .CodeMirror-guttermarker-subtle,
.cm-s-inner .CodeMirror-linenumber {
  color: rgb(83, 127, 126);
}
.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line > span::selection,
.cm-s-inner .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line > span::-moz-selection,
.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}
#fences-auto-suggest {
  .active {
    background: #3c3c3c;
  }
}
#write {
  .code-tooltip {
    bottom: initial;
    top: calc(100% - 1px);
    background: #393939;
    border: 1px solid #3c3c3c;
    border-top: 0;
    border-radius: 0 0 0.35rem 0.35rem;
  }
}
.auto-suggest-container {
  border-color: #5b5b5b;
  .autoComplt-hint {
    &.active {
      background: #5b5b5b;
      color: #fff;
    }
  }
}
