@media print {
  #write {
    ol > li,
    ul > li {
      color: $text-color;
    }

    // Fix for bold font in lists
    ol,
    ul {
      > li {
        color: $text-color;

        > strong > *,
        > b > * {
          font-weight: bold;
        }
      }
    }
  }
}
